
{{#extend "stylesheets"}}
<link rel="stylesheet" href="/css/index.css"/>
<link rel='stylesheet' href='/css/jquery-ui.css'/>
{{/extend}}

<h1>Elnagger Photo Uploader</h1>
<form enctype="multipart/form-data">
<fieldset>
	<div>
		First Name: <input type='text' name='first'/>
	</div>
	<div>
		Last Name: <input type='text' name='last'/>
	</div>
	<div>
		<input id='file-input' type='file' multiple='multiple' name='field'/>
	</div>
	<div id='progressbar'></div>
	<div>
		<input type='button' id='photo-button' value='Upload!'/>
	</div>
</fieldset>
</form>
<div id='output'></div>

{{#extend "scripts"}}
<script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js'></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
<script type='text/javascript' src='scripts/upload.js'></script>
{{/extend}}