{{#extend "stylesheets"}}
<link rel="stylesheet" href="/css/index.css"/>
{{/extend}}

<h1>Upload Complete</h1>
<div>
	<p>
		Thank you for uploading your photos!
	</p>
	<p>
		We're working on sorting through all the amazing photos that are being sent to us. We should be able to put some up in another page for everyone to see soon.
	</p>
</div>

{{#extend "scripts"}}
<script>
</script>
{{/extend}}